.textarea {
  display: block;
  padding: 0.25rem;
  width: max-content;
  font-size: 1rem;
  color: "#111827";
  background-color: "#ffffff";
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: "#e2e8f0";
  margin-top: 0;
  outline: none;
  resize: none;
}

p {
  margin: 0;
}

.platilac {
  text-transform: capitalize;
}

.main-section-details-div {
  width: 263px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 2rem;
  gap: 1rem;
}

.details-section {
  display: flex;
  gap: 0.5rem;
}

.main-div {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.table-div {
  margin-top: 2rem;
}

.main-section-div {
  width: 263px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 2rem;
  gap: 1rem;
}

.custom-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  width: 222px;
}

.kurs-div {
  width: 222px;
}

.iznos-div, .sa-racuna-div, .na-racun-div, .kurs-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  width: 222px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:active {
  outline: 0;
}

.button:hover {
  background-color: transparent;
  cursor: pointer;
}

.button:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -5px;
  top: -7px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button:hover:before {
  background-color: #6DCFF6;
}